/* font css */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@600&display=swap');

/* common elements */
* {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* header styles */
.header-title {
    margin-top: 70px;
    margin-left: 120px;
    font-weight: 700;
    font-size: 24px;
    color: #3A3A3A;
    margin-bottom: 5px;
}

nav {
    margin-top: 70px;
    margin-right: 120px;
    display: flex;
    gap: 34px;
    font-weight: 600;
    font-size: 16px;
    color: #3A3A3A;
    align-items: center;
}

/* main styles */
.section-container {
    width: 582px;
    height: 270px;
    display: flex;
    /* gap: 100px; */
    justify-content: space-between;
}

.section-info {
    margin-top: 90px;
    margin-left: 120px;
    margin-right: 80px;
}

.section-title {
    font-weight: 700;
    font-size: 52px;
    color: #3A3A3A;
    width: 582px;
    height: 133px;
}

.section-paragraph {
    font-weight: 600;
    font-size: 16px;
    color: #3A3A3A;
    margin-top: 15px;
}

.section-button {
    width: 196px;
    height: 44px;
    background-color: #E02C6D;
    border: 0;
    color: #FFFFFF;
    border-radius: 41px;
    margin-top: 20px;
}

.section-container .camera {
    background-image: url('../images/Circle\ design.svg');
    width: 440px;
    height: 414px;
    margin-top: 80px;
    /* margin-right: 165px; */
}

/* second section styles */
.second-container {
    margin-top: 340px;
    display: flex;
    gap: 60px;
    justify-content: center;
    box-shadow: 10px #AAAAAA;
}

.logo {
    width: 84px;
    height: 26px;
}

/* collection styles */
.collections {
    margin-left: 40px;
    margin-right: 130px;
    padding: 20px;
}

.collections-title {
    margin-top: 100px;
    margin-bottom: 15px;
    font-weight: 600;
    font-size: 28px;
    color: #3A3A3A;
    text-align: center;
    margin-left: 115px;
}

.collection {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 45px;
    grid-row-gap: 30px;
    align-items: center;
}

.collection-info {
    width: 329px;
    height: 476px;
    background: #FFFFFF;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    padding-top: 15px;
    padding-left: 30px;
}

.collection-img {
    width: 300px;
    height: 256px
}

.collection-title {
    margin-top: 10px;
    margin-bottom: 6px;
    font-weight: 500;
    font-size: 28px;
    color: #18191F;
}

.dollar {
    font-weight: 400;
    font-size: 24px;
    color: rgba(0, 0, 0, 0.87);
    margin-top: 5px;
    margin-bottom: -10px;

}

.ratings {
    display: flex;
    gap: 16px;
    align-items: center;
    padding-top: 2px;

}

.star {
    color: #FB8200;
}

.rate-number {
    font-weight: 700;
    font-size: 14px;
    color: #787885;
}

.description {
    font-weight: 700;
    font-size: 14px;
    margin-top: -5px;
    width: 142px;
    color: #787885;

}

.see-more {
    font-weight: 700;
    font-size: 16px;
    color: rgba(224, 44, 109, 0.87);
    align-items: left;
    margin-left: 1070px;
    width: 96px;
    height: 24px;
}

/* third-section styles */
.third-section {
    height: 270px;
    width: 1000px;
    margin-left: 130px;
    margin-top: 115px;
    display: flex;
    margin-bottom: 100px;
    gap: 90px;
}

.gear-pic {
    width: 404px;
    height: 270px;
    border-radius: 7px;
}

.gear-description {
    width: 610px;
    height: 224px;
}

.gear-title {
    font-weight: 700;
    font-size: 38px;
    color: #0A0826;
    width: 610px;
    height: 60px;
    margin-bottom: 3px;
}

.gear-paragraph {
    font-weight: 700;
    font-size: 16px;
    color: #6C6C6C;
    width: 501px;
    height: 88px;
}

.gear-button {
    width: 155px;
    height: 44px;
    background-color: #E02C6D;
    border: 0;
    font-weight: 700;
    font-size: 16px;

    color: #FFFFFF;

}

/* footer styles */
footer {
    height: 239px;
    background-color: #0A0826;
    background-size: cover;
}

.footer-container {
    width: 262px;
    height: 139px;
    color: #FFFFFF;
    margin: 50px 510px;
    text-align: center;
    padding-top: 50px;


}

.footer-title {
    margin-bottom: 2px;
}

.footer-paragraph {
    font-weight: 400;
    font-size: 12px;
    color: #D9DBE1;
    margin-top: 2px;
    margin-bottom: 2px;

}

.icons {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-top: 15px;
}

a {
    color: #FFFFFF;

}

/* media quary */
@media screen and (max-width: 576px) {
    nav{
        display:block;
        flex-direction: row-reverse;
    }
}